---
title: "Home"
---
<section class="slice slice-lg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col col-12 col-md-6 col-lg-6 order-md-2 mb-5 mb-md-0">
                <div class="card shadow-lg zindex-1 mb-0">
                    <figure><img src="{{'assets/images/top-img.jpg' | relative_url}}" class="card-img"/></figure>
                    <div class="card-img-overlay d-flex justify-content-end">
                        <div class="text-center">
                            <a href="https://www.youtube.com/watch?v=zodT9bCdIiI"
                                class="btn btn-white btn-icon-only rounded-circle shadow-sm hover-scale"
                                data-fancybox="">
                                <span>
                                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-75 position-absolute bottom-n5 right-n5 rotate-180">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        x="0px" y="0px" viewBox="0 0 463.6 616" style="enable-background:new 0 0 463.6 616;"
                        xml:space="preserve" class="fill-secondary">
                        <path
                            d="M148.4,608.3C25.7,572.5-3.5,442.2,0.3,375.8s24.8-117,124.8-166.5s125.7-77.4,165-129.6 c43.2-57.4,96.5-94.4,127.9-73c63,43,53.9,280,14,358s-68.9,75.5-98.9,118.7S271,644,148.4,608.3z">
                        </path>
                    </svg>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 order-md-1 pr-md-5">
                <h6 class="">- Connect by AgeWell Technologies</h6>
                <h1 class="h1 mb-4">Better Human Connection with <strong>Connect</strong>.</h1>
                <p class="lead text-muted">Connect by AgeWell Technologies creates meaningful connections across generations to foster wellness, happiness, and positive aging.</p>
                <div class="mt-5">
                    <a href="#" class="btn btn-primary text-white hover-translate-y-n3">Learn more </a>
                    <a href="https://www.youtube.com/watch?v=zodT9bCdIiI"
                        class="btn btn-neutral btn-icon d-none d-lg-inline-block hover-translate-y-n3" data-fancybox="">
                        <span>Play video</span>
                        <span>
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice">
    <div class="container">
        <div class="row mb-6 justify-content-center text-center">
            <div class="col-lg-8 col-md-10">
                <span class="badge rounded-pill bg-primary">What we do</span>
                <h3 class="mt-4">Virtual Companions for Better Human Connection
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-md-4">
                <div class="pb-4">
                    <div class="icon"></div>
                </div>
                <h5>Virtual Respite Care</h5>
                <p class="text-muted mb-0">Giving cargivers a break.</p>
            </div>
            <div class="col-md-4">
                <div class="pb-4">
                    <div class="icon"></div>
                </div>
                <h5>Social Engagement</h5>
                <p class="text-muted mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi alias ut
                    dolor, explicabo labore aspernatur aperiam nihil fugit rerum sed vero veniam, excepturi atque
                    quaerat? Ut harum quod consequatur magni!</p>
                </p>
            </div>
            <div class="col-md-4">
                <div class="pb-4">
                    <div class="icon"></div>
                </div>
                <h5 class="">Very well documented</h5>
                <p class="text-muted mb-0">No matter you are a developer or new to web design, you will find our theme very easy to customize with an intuitive code.</p>
            </div>
        </div>
    </div>
</section>
<section class="slice cta d-flex align-items-center bg-cover" style="background-image:url({{ 'assets/images/img-1.jpg' | relative_url }})">
    <span class="mask bg-gradient-dark opacity-9"></span>
    <div class="container">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2 class="display-4 text-white">Ready to schedule a visit?</h2>
                    <h4 class="text-white mt-3">Create your profile to be matched with a companion.</h4>
                    <a href="https://www.youtube.com/watch?v=zodT9bCdIiI" data-fancybox="" data-toggle="tooltip" data-placement="bottom" title="" class="btn btn-lg btn-warning btn-icon-only rounded-circle hover-scale mt-4" data-original-title="Watch video in lightbox">
                        <span>
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-container shape-line shape-position-bottom">
        <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100" xml:space="preserve" class="">
            <polygon points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>
<section class="slice slice-lg">
    <div class="container">
        <div class="row row-grid align-items-center justify-content-between">
            <div class="col-md-6 col-lg-5 order-md-2 ml-md-auto">
                <div class="py-lg-5 text-lg-left">
                    <h3 class="h2 mb-3">Skilled companions from accredited universities</h3>
                    <p class="lead lh-180">Connect by AgeWell Technologies brings people together for engaging human connections.</p>
                    <a href="#" class="link link-underline-primary font-weight-bold">Find out more</a>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="row mx-n2">
                    <div class="col-6 mt-5 px-2">
                        <img alt="Image placeholder" src="http://lorempixel.com/500/500/people/8" class="img-fluid mb-3 rounded">
                        <img alt="Image placeholder" src="http://lorempixel.com/500/500/people/1" class="img-fluid rounded">
                    </div>
                    <div class="col-6 px-2">
                        <img alt="Image placeholder" src="http://lorempixel.com/500/500/people/7" class="img-fluid mb-3 rounded">
                        <img alt="Image placeholder" src="http://lorempixel.com/500/500/people/6" class="img-fluid rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg">
    <div class="container position-relative">
        <div class="card shadow-lg border-0 zindex-100">
            <div class="card-body px-5 py-5 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h4 class="h5 mb-2">Is your university or organization interested in Connect?</h4>
                        <p class="mb-0">Our partnership team is available for you anytime.</p></div><div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                        <a href="#" class="btn btn-warning btn-icon rounded-pill hover-scale">
                            <span>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                            </span>
                            <span>Contact us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-10 position-absolute bottom-n3 left-n5">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 361.1 384.8" style="enable-background:new 0 0 361.1 384.8;" xml:space="preserve" class="fill-primary">
	            <path d="M53.1,266.7C19.3,178-41,79.1,41.6,50.1S287.7-59.6,293.8,77.5c6.1,137.1,137.8,238,15.6,288.9 S86.8,355.4,53.1,266.7z"></path>
            </svg>
        </div>
        <div class="w-10 position-absolute top-n5 right-n5">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 361.1 384.8" style="enable-background:new 0 0 361.1 384.8;" xml:space="preserve" class="fill-dark">
	            <path d="M53.1,266.7C19.3,178-41,79.1,41.6,50.1S287.7-59.6,293.8,77.5c6.1,137.1,137.8,238,15.6,288.9 S86.8,355.4,53.1,266.7z"></path>
            </svg>
        </div>
    </div>
</section>

<!-- About Active Aging -->

<section class="slice slice-lg">
    <div class="container container-lg">
        <div class="row row-grid align-items-center">
            <div class="col-md-6"><span class="badge badge-primary badge-pill">About Active Aging</span>
                <h5 class="h5 lh-180 mt-4 mb-5">By 2030 60% the human population will be over the age of 65....</h5>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="badge badge-circle bg-primary mr-3"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg></div>
                            </div>
                            <div>
                                <p class="mb-0">Active Aging</p>
                            </div>
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="badge badge-circle bg-primary mr-3"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg></div>
                            </div>
                            <div>
                                <p class="mb-0">Socail Engagment</p>
                            </div>
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="badge badge-circle bg-primary mr-3"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-check">
                                        <polyline points="20 6 9 17 4 12"></polyline>
                                    </svg></div>
                            </div>
                            <div>
                                <p class="mb-0">Something here</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 ml-lg-auto">
                <div class="row">
                    <div class="col-6">
                        <div class="card bg-warning shadow-lg rounded-lg border-0">
                            <div class="px-4 py-5 text-center">
                                <div class="h1 font-weight-bolder text-white mb-0"><span
                                        class="counter counting-finished" data-from="0" data-to="10" data-speed="500"
                                        data-refresh-interval="10">10</span> <span class="counter-extra ml-n2">k</span>
                                </div>
                                <h6 class="text-white">Customers</h6>
                            </div>
                        </div>
                        <div class="card shadow-lg rounded-lg border-0">
                            <div class="px-4 py-5 text-center">
                                <div class="h1 font-weight-bolder mb-0"><span class="counter counting-finished"
                                        data-from="0" data-to="50" data-speed="1000"
                                        data-refresh-interval="10">50</span> <span class="counter-extra ml-n2">k</span>
                                </div>
                                <h6 class="text-warning">Download</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pt-lg-5">
                        <div class="card shadow-lg rounded-lg border-0">
                            <div class="px-4 py-5 text-center">
                                <div class="h1 font-weight-bolder mb-0"><span class="counter counting-finished"
                                        data-from="0" data-to="98" data-speed="500" data-refresh-interval="10">98</span>
                                    <span class="counter-extra ml-n2">%</span></div>
                                <h6 class="text-primary">Happy clients</h6>
                            </div>
                        </div>
                        <div class="card bg-primary shadow-lg rounded-lg border-0">
                            <div class="px-4 py-5 text-center">
                                <div class="h1 font-weight-bolder text-white mb-0"><span
                                        class="counter counting-finished" data-from="0" data-to="5" data-speed="500"
                                        data-refresh-interval="10">5</span> <span class="counter-extra ml-n2">m</span>
                                </div>
                                <h6 class="text-white">Page views</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Blog Posts -->

<section class="slice pt-0 featured-articles">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><span class="badge bg-primary rounded-pill">Featured Articles</span>
                <h5 class="h5 lh-180 mt-4 mb-6">Below are some featured articles about the importance of human connection.</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="w-50 position-absolute bottom-0 right-n8 rotate-180"><svg xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 910.6 745.2"
                style="enable-background:new 0 0 910.6 745.2;" xml:space="preserve"
                class="fill-secondary">
                <path
                    d="M222.1,0c167.1,0,178,187.8,272.8,212.5s208,2.9,277.5,169.7s138.4,133.9,138.2,217.8 S788.2,745.2,611.8,745.2S446,724,341.2,724c-83.3,0-77.7,16.7-118.4,18.9c-106.6,0-303.1-110.3-187.6-296.3S55,0,222.1,0z">
                </path>
            </svg>
        </div>
        <div class="row">
            <!-- TODO: REplace with Partial -->
            {% for i in (1..4) %}
	            {% include featured_article.html %}
            {% endfor %}
        </div>
    </div>
</section>
<section class="slice slice-lg pt-0">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-8 col-md-10">
                <h2 class="mt-4">Simple, Straight Pricing</h2>
                <div class="mt-2">
                    <p class="lead lh-180">Somthing about cost</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md">
                <div class="card card-pricing text-center px-3 shadow hover-scale">
                    <div class="card-header py-5 border-0">
                        <div class="h1 text-center mb-0">$<span class="price font-weight-bolder">49 <small>per month</small></span></div><span
                            class="h6 text-muted">3 Visits / month</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-sm mb-4">
                            <li>3 visits per month</li>
                            <li>1 hour visits</li>
                            <li>Customzed ...</li>
                            <li>Client Dashboard </li>
                        </ul><a href="https://themes.getbootstrap.com/product/quick-website-ui-kit-2/"
                            class="btn btn-sm btn-warning hover-translate-y-n3 hover-shadow-lg mb-3"
                            target="_blank">Purchase now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md">
                <div class="card card-pricing bg-primary text-center px-3 shadow hover-scale">
                    <div class="card-header py-5 border-0">
                        <div class="h1 text-white text-center mb-0">$<span class="price font-weight-bolder">85 <small>per month</small></span>
                        </div><span class="h6 text-white">6 Visits / month</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-white text-sm opacity-8 mb-4">
                            <li><strong>6</strong> visits per month</li>
                            <li>1 hour visits</li>
                            <li>Customzed ...</li>
                            <li>Client Dashboard</li>
                            <li>Caregiver Portal</li>
                        </ul><a href="https://themes.getbootstrap.com/product/quick-website-ui-kit-2/"
                            class="btn btn-sm btn-white hover-translate-y-n3 hover-shadow-lg mb-3"
                            target="_blank">Purchase now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center">
            <p class="mb-2">Do you work with a University or organization? AgeWell Technologies wants to partner with you!</p><a href="#"
                class="link link-underline-primary font-weight-bold">Contact us<svg xmlns="http://www.w3.org/2000/svg"
                    width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ml-2">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline>
                </svg></a>
        </div>
    </div>
</section>
<div class="slice bg-dark">
    <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
        <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100" xml:space="preserve" class="">
            <polygon points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                    <form name="contact_form" id="contact_form" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLScOcoPdnfL_f60ilj7BAOL2ZUM6GRD2F0Wck5IN3WNtG_hsog/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <h3 class="text-secondary mb-2">Better Human Connection with <strong>Connect</strong>.</h3>
                                <p class="lead mb-0 text-white opacity-8">Meaningful connections across generations to foster wellness, happiness, and positive aging.</p>
                            </div>
                            <div class="col-lg-4 text-lg-right mt-4 mt-lg-0">
                                <input type="text" name="entry.1666204894" id="entry.1666204894" class="form-control email" placeholder="Email">
                            </div>
                            <div class="col-lg-1 text-lg-right mt-4 mt-lg-0">
                                <a href="#" class="send-email btn btn-primary text-white my-2 ml-0 ml-sm-3">Send</a>
                            </div>
                        </div>
                    </form>
                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
                    <script type="text/javascript">var submitted=false;</script>
                    <script type="text/javascript">
                        function validateEmail($email) {
                          var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                          return emailReg.test( $email );
                        }
                        $('#contact_form .send-email').on('click', function(e) {
                            if( !validateEmail($('#contact_form .email').val())) { 
                                alert("Sorry, your email is invalid");
                            } else {
                                $("#contact_form").submit();
                                $('.alert-success').removeClass('d-none');
                                $('#contact_form input[type=text]').val("");
                            }
                        });
                    </script>
                    <div class="d-none alert alert-success mt-4" role="alert">
                      <h4 class="alert-heading">Thank you!</h4>
                      <p>Thank you for your interest in Connect! We'll update you on our development and when our service will be ready :).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
