<div class="col-lg-3 col-sm-6">
    <div class="card featured-article card-overlay card-hover-overlay hover-shadow-lg hover-translate-y-n10">
        <figure class="figure">
            <img alt="Image placeholder" src="http://lorempixel.com/800/1000/nature"
                class="card-img img-fluid">
        </figure>
        <div class="card-img-overlay d-flex flex-column align-items-center p-0">
            <div class="overlay-text w-75 mt-auto p-4">
                <p class="lead">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p><a href="#!"
                    class="link link-underline-white font-weight-bold">Marketing</a>
            </div>
            <div class="overlay-actions w-100 card-footer mt-auto d-flex justify-content-between align-items-center">
                <div><a href="#!" class="h6 mb-0">Living dangerously</a></div>
                <div>
                    <div class="actions">
                        <a href="#!" class="action-item mr-3">B</a>
                        <a href="#!" class="action-item mr-3">B</a>
                        <a href="#!" class="action-item">B</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>